@charset "UTF-8";

@font-face {
     font-family: "S-CoreDream-5Medium";
     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
     font-weight: normal;
     font-style: normal;
}
@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
*{
	font-family: "S-CoreDream-5Medium", serif; 
	box-sizing: border-box; 
	margin:0;
	padding:0;
}
body{
	font-size:16px;
	
}
#side{
	width:200px;
	margin:0px;
	
}

/* ========== menubar =========== */
#user{
    padding-left: 10px;
    width: 120px;
    font-size: 13px;
    color : white;
    
}

#logo{
    box-sizing: border-box;
    height: 50px;
    width: 170px;
    float: right;
    margin-right: 20px;
}
#info{
    margin-left: 15px;
    text-decoration: none;
    color : #54546c;
    font-size: 11px;
}
#info:hover{
    color : #404146;
}

#profile{
	width: 200px;
	/* border: 1px solid black; */
    height: 150px;
    background:#8283a7;
    float:left;
    box-shadow:5px 2px 5px lightgray;
    padding-top: 120px;
    padding-left: 30px;
}
#profile span{
	margin: 0;
}
.sidenav {
	overflow-x: hidden;
	background-color: #404146;
	width: 200px;
	height: 130vh;
	display: inline-block;
	padding-right:20px;
	float: left;
}

.sidenav a {
	color: white;
	width: 100%;
	font-size: 18px;
	text-align: right;
	text-decoration: none;
	display: block;
	margin-top: 50px;
	
}

.sidenav a:hover {
	transition:all 0.5s;
	border-bottom:2px solid #54546c;
}

/* === content ===*/

section{
	/* border: solid 1px blue; */

	/*margin-left:200px;
	width : 90%;
	height : 100vh;
	margin-top:-97px;*/

	width : 78%;
	height : 100%;
	display: inline-block;
	float: right;
	margin-left:280px;

}

#subMenu{
	border-bottom: 2px solid #8283a7;
}
	
#submenuTitle{
	/* border: 1px solid yellow; */
	font-size: 20px;
	margin-top: 30px;
	margin-left: 50px;
	font-size:20px;
	width: 95%;
	height: 5%;
	
}
#contentDiv{
	margin: 50px;
	/* border: solid 1px red; */
	width: 95%;
	height: 100%;
	
}
.menu{
	text-decoration: none;
	margin-left: 50px;
	color : #a5d296;
	
}

/* 영관 */
.navi{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navi>li{
    display:inline-block;
    width:170px;
    height: 100%;
    margin: 0;
    text-align: center;
}

.navi li a { 
    display: inline-block; 
    box-sizing: border-box;
    line-height: 30px;
    text-decoration: none; 
    font-weight:900; 
    font-size:18px;
    padding: 5px 25px;
    width:170px;
    
}
.navi li>ul {
    list-style-type: none;
    width: 170px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.navi li:hover ul{
    opacity: 1;
    visibility: visible;
}
.navi li ul { 
    position: relative;
    transition: all 0.5s; 
    z-index: 99;
}
.navi li ul li {
    transition: all 0.5s; 
    height : 0;
    width:170px;
}
.navi li:hover ul li {
    height : 30px;
 } 

