<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="DocResultSet" type="Doc">
		<id property="docNo" column="DOCNO"/>
		<result property="docTitle" column="DOCTITLE"/>
		<result property="docContent" column="DOCCONTENT"/>
		<result property="docStatus" column="DOCSTATUS"/>
		<result property="docType" column="DOCTYPE"/>
		<result property="docExplantion" column="DOCEXPLANTION"/>
		<result property="empId" column="EMP_ID"/>
	</resultMap>

	<resultMap id="ApvDocResultSet" type="ApvDoc">
		<id property="apvDocNo" column="APVDOCNO"/>
		<result property="apvDocTitle" column="APVDOCTITLE"/>
		<result property="apvDocContent" column="APVDOCCONTENT"/>
		<result property="apvDocStatus" column="APVDOCSTATUS"/>
		<result property="apdCreateDate" column="APV_CREATE_DATE"/>
		<result property="apdModifyDate" column="APV_MODIFY_DATE"/>
		<result property="apdStep" column="APDSTEP"/>
		<result property="apdPath" column="APDPATH"/>
		<result property="docNo" column="DOCNO"/>
		<result property="empId" column="EMP_ID"/>
		<result property="apvDocFileCount" column="APVDOCFILECOUNT"/>
	</resultMap>

	<resultMap id="ApprovalResultSet" type="Approval">
		<id property="apvNo" column="APVNO"/>
		<result property="apvDocNo" column="APVDOCNO"/>
		<result property="apvStep" column="APVSTEP"/>
		<result property="apvType" column="APVTYPE"/>
		<result property="apvResult" column="APVRESULT"/>
		<result property="apvComment" column="APVCOMMNET"/>
		<result property="apvCompDate" column="APV_COMP_DATE"/>
		<result property="reciveDate" column="RECIVE_DATE"/>
		<result property="empId" column="EMP_ID"/>
	</resultMap>
	
	<resultMap id="EmployeeResultSet" type="Employee">
		<id property="ID" column="EMP_ID"/>
		<result property="userPwd" column="PWD"/>
		<result property="userName" column="NAME"/>
		<result property="userTeam" column="CATEGORY"/>
		<result property="department" column="DEPARTMENT"/>
		<result property="job" column="JOB_GRADE"/>
	</resultMap>
	
	<resultMap id="AttachmentResultSet" type="Attachment">
		<id property="fId" column="FID"/>
		<result property="original" column="ORIGINAL"/>
		<result property="rename" column="RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="status" column="STATUS"/>
		<result property="refTable" column="REF_TABLE"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>
	
	<select id="selectAllDocTypeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCSTATUS = 'Y'
	</select>
	<select id="selectAllDocTypeList" resultMap="DocResultSet">
		SELECT * 
		FROM DOC_TYPE
		WHERE DOCSTATUS = 'Y'
		ORDER BY DOCTITLE
	</select>

	<select id="selectApvDocList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT * 
		FROM APV_DOC
		WHERE APVDOCSTATUS = #{apvDocStatus}
		AND EMP_ID = #{empId}
		ORDER BY APVDOCNO DESC
	</select>

	<select id="selectDocTypeList" parameterType="String" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTYPE LIKE '%'||#{docType}||'%'
		AND DOCSTATUS = 'Y'
	</select>

	<select id="selectDocTypeListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCTYPE LIKE '%'||#{docType}||'%'
		AND DOCSTATUS = 'Y'
	</select>
	
	<select id="selectPrivateListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCTYPE = 'PRIVATE'
		AND EMP_ID = #{eId}
		AND DOCSTATUS = 'Y'
	</select>
	
	<select id="selectPrivateList" parameterType="String" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTYPE = 'PRIVATE'
		AND EMP_ID = #{eId}
		AND DOCSTATUS = 'Y'
	</select>

	<select id="selectTemporaryListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APV_DOC
		WHERE APVDOCSTATUS='0'
		AND EMP_ID = #{eId}
	</select>

	<select id="selectTemporaryList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		WHERE APVDOCSTATUS = '0'
		AND EMP_ID = #{eId}
	</select>

	<select id="selectApprovalObtainList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE EMP_ID=#{eId}
		AND APVTYPE = '0' 
	</select>
	
	<select id="selectApprovalList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE EMP_ID=#{eId}
		AND APVTYPE != '0'
	</select>

	<select id="selectApprovalCompleteList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE EMP_ID = #{eId}
		AND APVRESULT != '0'
	</select>
	
	<select id="selectDoc" parameterType="String" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTITLE LIKE '%'||#{docTitle}||'%'
		AND DOCSTATUS = 'Y'
	</select>
	
	<select id="selectEmpList" resultMap="EmployeeResultSet">
		SELECT *
		FROM EMPLOYEE_OFFICE
	</select>
	
	<select id="selectApprovalObtainListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE APVTYPE='0'
		AND EMP_ID = #{eId}
	</select>
	
	<select id="selectApprovalListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE APVTYPE!='0'
		AND EMP_ID = #{eId}
	</select>
	
	<select id="selectApprovalCompleteListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APV_DOC
		JOIN APPROVAL USING(EMP_ID)
		WHERE APVRESULT != '0'
		AND EMP_ID = #{eId}
	</select>
	
	<select id="selectEmpId" parameterType="String" resultType="String">
		SELECT EMP_ID
		FROM EMPLOYEE
		WHERE NAME = #{string}
	</select>
	<!-- 기안 -->
	<insert id="draftingDoc" parameterType="ApvDoc">
		INSERT INTO APV_DOC
		VALUES(SEQ_APVDOC.NEXTVAL, #{apvDocTitle}, #{apvDocContent}, '0', SYSDATE, SYSDATE, #{apdStep}, #{apdPath}, #{docNo}, #{empId}, #{apvDocFileCount} )
	</insert> 
	<!-- 결재선 추가-->
	<!--
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES(SEQ_APV.NEXTVAL, SEQ_APVDOC.CURRVAL, #{},#{}, 0, NULL, NULL, NULL, #{empId})
	</insert> -->
	
	<!-- 첨부파일 추가  -->
	<!-- <insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATT.NEXTVAL, #{original},#{rename},#{filePath}, APV_DOC, #{docNo}, DEFAULT)
	</insert> -->
	<!-- 임시문서 저장 -->
	<insert id="insertTempDoc" parameterType="ApvDoc">
		INSERT INTO APV_DOC
		VALUES(SEQ_APVDOC.NEXTVAL, #{apvDocTitle}, #{apvDocContent}, '0', SYSDATE, SYSDATE, #{apdStep}, #{apdPath}, #{docNo}, #{empId}, #{apvDocFileCount} )
	</insert>
	<!-- 개인 양식 등록 -->
	<insert id="priDocSave" parameterType="Doc">
		INSERT INTO DOC_TYPE
		VALUES(SEQ_DOCTYPE.NEXTVAL,#{docTitle},#{docContent},DEFAULT ,'PRIVATE' , #{docExplantion}, #{empId})
	</insert>
	
	<select id="selectPriDoc" parameterType="Doc" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTITLE = #{docTitle}
		AND EMP_ID = #{empId}
		AND DOCSTATUS = 'Y'
	</select>
	
	<update id="deletePriDoc" parameterType="Doc">
		UPDATE DOC_TYPE
		SET DOCSTATUS = 'N'
		WHERE DOCTITLE = #{docTitle}
		AND EMP_ID = #{empId} 
	</update>
	
	<select id="selectTempDoc" parameterType="Doc" resultMap="DocResultSet">
		SELECT *
		FROM APV_DOC
		WHERE APVDOCTITLE = #{docTitle}
		AND EMP_ID = #{empId}
		AND APVSTATUS = '0'
	</select>
	
	<select id="selectTempAt" resultMap="AttachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_ID = #{docNo}
		AND STATUS = 'Y'
	</select>
	
	
	
	
</mapper>