<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="DocResultSet" type="Doc">
		<id property="docNo" column="DOCNO"/>
		<result property="docTitle" column="DOCTITLE"/>
		<result property="docContent" column="DOCCONTENT"/>
		<result property="docStatus" column="DOCSTATUS"/>
		<result property="docType" column="DOCTYPE"/>
		<result property="docExplantion" column="DOCEXPLANTION"/>
		<result property="empId" column="EMP_ID"/>
	</resultMap>

	<resultMap id="ApvDocResultSet" type="ApvDoc">
		<id property="apvDocNo" column="APVDOCNO"/>
		<result property="apvDocTitle" column="APVDOCTITLE"/>
		<result property="apvDocContent" column="APVDOCCONTENT"/>
		<result property="apvDocStatus" column="APVDOCSTATUS"/>
		<result property="apdCreateDate" column="APD_CREATE_DATE"/>
		<result property="apdModifyDate" column="APD_MODIFY_DATE"/>
		<result property="apdStep" column="APDSTEP"/>
		<result property="apdPath" column="APDPATH"/>
		<result property="docNo" column="DOCNO"/>
		<result property="empId" column="EMP_ID"/>
		<result property="apvDocFileCount" column="APVDOCFILECOUNT"/>
	</resultMap>

	<resultMap id="ApprovalResultSet" type="Approval">
		<id property="apvNo" column="APVNO"/>
		<result property="apvDocNo" column="APVDOCNO"/>
		<result property="apvStep" column="APVSTEP"/>
		<result property="apvType" column="APVTYPE"/>
		<result property="apvResult" column="APVRESULT"/>
		<result property="apvComment" column="APVCOMMNET"/>
		<result property="apvCompDate" column="APV_COMP_DATE"/>
		<result property="reciveDate" column="RECIVE_DATE"/>
		<result property="empId" column="EMP_ID"/>
		<result property="eName" column="NAME"/>
	</resultMap>
	
	<resultMap id="EmployeeResultSet" type="Employee">
		<id property="id" column="EMP_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>		
		<result property="birth" column="BIRTH"/>
		<result property="category" column="CATEGORY"/>
		<result property="salary" column="SALARY"/>
		<result property="acc_no" column="ACC_NO"/>
		<result property="address" column="ADDRESS"/>
		<result property="hire_date" column="HIRE_DATE"/>		
		<result property="status" column="STATUS"/>
		<result property="license" column="LICENSE"/>
		<result property="license_no" column="LICENSE_NO"/>
		<result property="license_date" column="LICENSE_DATE"/>
	</resultMap>
	
	<resultMap id="AttachmentResultSet" type="Attachment">
		<id property="atId" column="FID"/>
		<result property="originalFile" column="A_ORIGINNAME"/>
		<result property="renameFile" column="A_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="status" column="STATUS"/>
		<result property="refTable" column="REF_TABLE"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>
	
	<resultMap id="ApprovalApvDocResultSet" type="ApprovalApvDoc">
		<id property="apvDocNo" column="APVDOCNO"/>
		<result property="apvDocTitle" column="APVDOCTITLE"/>
		<result property="apvDocContent" column="APVDOCCONTENT"/>
		<result property="apvDocStatus" column="APVDOCSTATUS"/>
		<result property="apdCreateDate" column="APD_CREATE_DATE"/>
		<result property="apdModifyDate" column="APD_MODIFY_DATE"/>
		<result property="apdStep" column="APDSTEP"/>
		<result property="apdPath" column="APDPATH"/>
		<result property="docNo" column="DOCNO"/>
		<result property="empId" column="EMP_ID"/>
		<result property="apvDocFileCount" column="APVDOCFILECOUNT"/>
		<result property="eName" column="NAME"/>
		<result property="apvCompDate" column="APV_COMP_DATE"/>
		<result property="apvType" column="APVTYPE"/>
		<result property="apvStep" column="APVSTEP"/>
	</resultMap>
	
	<resultMap id="SignResultSet" type="Sign">
		<id property="fId" column="FID"/>
		<result property="original" column="A_ORIGINNAME"/>
		<result property="rename" column="A_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="status" column="STATUS"/>
		<result property="refTable" column="REF_TABLE"/>
		<result property="refId" column="REF_ID"/>
		<result property="empId" column="EMP_ID"/>
		<result property="department" column="DEPARTMENT"/>
		<result property="jobGrade" column="JOB_GRADE"/>
	</resultMap>
	
	
	<select id="selectAllDocTypeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCSTATUS = 'Y'
		AND (EMP_ID IS NULL OR EMP_ID = #{id})
	</select>
	<select id="selectAllDocTypeList" resultMap="DocResultSet">
		SELECT * 
		FROM DOC_TYPE
		WHERE DOCSTATUS = 'Y'
		AND (EMP_ID IS NULL OR EMP_ID = #{id})
		ORDER BY DOCTITLE
	</select>

	<select id="selectApvDocList" parameterType="ApprovalSearch" resultMap="ApvDocResultSet">
		SELECT * 
		FROM APV_DOC
		WHERE APVDOCSTATUS = #{apvDocStatus}
		AND EMP_ID = #{empId}
		AND ROWNUM <![CDATA[<=]]> 5
		ORDER BY APVDOCNO DESC
	</select>
	<select id="selectMainApvDocList" parameterType="ApprovalSearch" resultMap="ApvDocResultSet">
	SELECT *
	FROM APPROVAL AP
	JOIN APV_DOC AD USING(APVDOCNO)
	WHERE AP.EMP_ID = #{empId}
	AND APVSTEP != 0
	AND AD.APVDOCSTATUS NOT IN ('0','3','4')
	</select>

	<select id="selectDocTypeList" parameterType="ApprovalSearch" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTYPE LIKE '%'||#{apvDocStatus}||'%'
		AND (EMP_ID IS NULL OR EMP_ID = #{empId})
		AND DOCSTATUS = 'Y'
	</select>
	<select id="selectMainCompApvDocList" parameterType="ApprovalSearch" resultMap="ApvDocResultSet">
	SELECT *
	FROM APPROVAL AP
	JOIN APV_DOC AD USING(APVDOCNO)
	WHERE AP.EMP_ID = #{empId}
	AND APVRESULT != 0
	AND APVDOCSTATUS = #{apvDocStatus}
	</select>

	<select id="selectDocTypeListCount" parameterType="ApprovalSearch" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCTYPE LIKE '%'||#{apvDocStatus}||'%'
		AND (EMP_ID IS NULL OR EMP_ID = #{empId})
		AND DOCSTATUS = 'Y'
		
	</select>
	
	<select id="selectPrivateListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_TYPE
		WHERE DOCTYPE = 'PRIVATE'
		AND EMP_ID = #{eId}
		AND DOCSTATUS = 'Y'
	</select>
	
	<select id="selectPrivateList" parameterType="String" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCTYPE = 'PRIVATE'
		AND EMP_ID = #{eId}
		AND DOCSTATUS = 'Y'
		ORDER BY DOCNO DESC
	</select>

	<select id="selectTemporaryListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APV_DOC
		WHERE APVDOCSTATUS='0'
		AND EMP_ID = #{eId}
		
	</select>

	<select id="selectTemporaryList" parameterType="String" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		WHERE APVDOCSTATUS = '0'
		AND EMP_ID = #{eId}
		ORDER BY APVDOCNO DESC
	</select>

	<select id="selectApprovalObtainList" parameterType="String" resultMap="ApprovalApvDocResultSet">
		SELECT *
		FROM APPROVAL_APVDOC
		WHERE EMP_ID = #{eId}
		AND APVTYPE = '0'
		AND APVDOCSTATUS != '0'
		AND APVDOCSTATUS != '4'
	</select>
	
	<select id="selectApprovalList" parameterType="String" resultMap="ApprovalApvDocResultSet">
		SELECT *
		FROM APPROVAL A
		JOIN APV_DOC D USING(APVDOCNO)
		JOIN EMPLOYEE E ON(D.EMP_ID = E.EMP_ID)
		WHERE A.EMP_ID = #{eId}
		AND APVTYPE != '0'
		AND APVRESULT = '0'
		AND APVDOCSTATUS != '3'
	</select>

	<select id="selectApprovalCompleteList" parameterType="String" resultMap="ApprovalApvDocResultSet">
		SELECT *
		FROM APPROVAL AP
		JOIN APV_DOC AD USING(APVDOCNO)
		JOIN EMPLOYEE E ON(AD.EMP_ID = E.EMP_ID)
		WHERE AP.EMP_ID = #{eId}
		AND APVRESULT != '0'
		ORDER BY APVDOCNO DESC
	</select>
	
	<select id="selectDoc" parameterType="_int" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCNO LIKE '%'||#{docNo}||'%'
		AND DOCSTATUS = 'Y'
	</select>
	
	<select id="selectEmpList" resultMap="EmployeeResultSet">
		SELECT *
		FROM EMPLOYEE_OFFICE
	</select>
	
	<select id="selectApprovalObtainListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL AP
        LEFT JOIN APV_DOC AD USING(APVDOCNO)
		WHERE AD.EMP_ID = #{eId}
		AND AP.APVTYPE = '0'
        AND AD.APVDOCSTATUS != '0'
        AND APVDOCSTATUS != '4'
	</select>
	
	<select id="selectApprovalListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		JOIN APV_DOC D USING(APVDOCNO)
		WHERE APVTYPE!='0'
		AND APVRESULT = '0'
		AND APVDOCSTATUS != '3'
		AND A.EMP_ID = #{eId}
	</select>
	
	<select id="selectApprovalCompleteListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL AP
		JOIN APV_DOC AD USING(APVDOCNO)
		WHERE AP.EMP_ID = #{eId}
		AND APVRESULT != '0'
	</select>
	
	<select id="selectEmpId" parameterType="String" resultType="String">
		SELECT EMP_ID
		FROM EMPLOYEE
		WHERE NAME = #{string}
	</select>
	<!-- 기안 -->
	<insert id="draftingDoc" parameterType="ApvDoc">
		INSERT INTO APV_DOC
		VALUES(SEQ_APVDOC.NEXTVAL, #{apvDocTitle}, #{apvDocContent}, '1', SYSDATE, NULL, 1, #{apdPath}, #{docNo}, #{empId}, #{apvDocFileCount} )
	</insert> 
	<!-- 결재선 추가-->
	
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES(SEQ_APV.NEXTVAL, SEQ_APVDOC.CURRVAL, #{apvStep},#{apvType}, 0, NULL, 
		<if test="apvStep == 0">
			SYSDATE,
		</if>
		<if test="apvStep != 0">
			NULL,
		</if>
		 NULL, #{empId})
	</insert>
	
	<!-- 첨부파일 추가  -->
	 <insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATT.NEXTVAL, #{originalFile},#{renameFile},#{filePath}, 'APV_DOC', SEQ_APVDOC.CURRVAL, DEFAULT)
	</insert>
	<!-- 임시문서 저장 -->
	<insert id="insertTempDoc" parameterType="ApvDoc">
		INSERT INTO APV_DOC
		VALUES(SEQ_APVDOC.NEXTVAL, #{apvDocTitle}, #{apvDocContent}, '0', SYSDATE, NULL, #{apdStep}, #{apdPath}, #{docNo}, #{empId}, #{apvDocFileCount} )
	</insert>
	<!-- 개인 양식 등록 -->
	<insert id="priDocSave" parameterType="Doc">
		INSERT INTO DOC_TYPE
		VALUES(SEQ_DOCTYPE.NEXTVAL,#{docTitle},#{docContent},DEFAULT ,'PRIVATE' , #{docExplantion}, #{empId})
	</insert>
	
	<select id="selectPriDoc" parameterType="Doc" resultMap="DocResultSet">
		SELECT *
		FROM DOC_TYPE
		WHERE DOCNO = #{docNo}
		AND EMP_ID = #{empId}
		AND DOCSTATUS = 'Y'
	</select>
	
	<update id="deletePriDoc" parameterType="Doc">
		UPDATE DOC_TYPE
		SET DOCSTATUS = 'N'
		WHERE DOCNO = #{docNo}
		AND EMP_ID = #{empId} 
	</update>
	
	<select id="selectTempDoc" parameterType="ApvDoc" resultMap="ApvDocResultSet">
		SELECT *
		FROM APV_DOC
		WHERE APVDOCNO = #{apvDocNo}
		AND EMP_ID = #{empId}
		AND APVDOCSTATUS = '0'
	</select>
	
	<select id="selectTempAt" resultMap="AttachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_ID = #{docNo}
		AND STATUS = 'Y'
	</select>
	
	<delete id="deleteTempDoc" parameterType="_int">
		DELETE 
		FROM APV_DOC
		WHERE APVDOCNO = #{apvDocNo}
	</delete>
	
	<delete id="deleteAttachment" parameterType="String">
		DELETE
		FROM ATTACHMENT
		WHERE REF_ID = #{docNo}
	</delete>
	
	<select id="selectApprovalfromObtainDoc" parameterType="_int" resultMap="ApprovalResultSet">
		SELECT *
		FROM APPROVAL A
		JOIN EMPLOYEE E USING(EMP_ID) 
		WHERE APVDOCNO = #{apvDocNo}
		ORDER BY APVSTEP
	</select>
	
	<select id="selectApvDocAtList" parameterType="String" resultMap="AttachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_ID = #{apvDocNo}
	</select>
	
	<select id="selectSignList" parameterType="hashmap"  resultMap="SignResultSet">
		SELECT *
		FROM ATTACHMENT A
		JOIN OFFICETEAM O ON(A.REF_ID = O.EMP_ID)
		WHERE REF_ID IN 
		<foreach collection="eList" item="item" separator="," open="(" close=")">
			 #{item}
		</foreach>
		AND EMP_ID IN
		<foreach collection="eList" item="item" separator="," open="(" close=")">
			 #{item}
		</foreach>
		AND REF_TABLE = 'Approval'
	</select>
	
	<update id="draftingRetrieve" parameterType="_int">
		UPDATE APV_DOC
		SET APVDOCSTATUS = '0'
		WHERE APVDOCNO = #{dId}
	</update>
	<delete id="deleteprocedureList" parameterType="_int">
		DELETE 
		FROM APPROVAL
		WHERE APVDOCNO = #{apvDocNo}
	</delete>
	
	<update id="approval" parameterType="Approval">
		UPDATE
		APPROVAL
		SET APVRESULT = #{apvResult},
		APVCOMMENT = #{apvComment},
		APV_COMP_DATE = SYSDATE
		WHERE APVDOCNO = #{apvDocNo}
		AND EMP_ID = #{empId}
	</update>
	<update id="approvalDoc" parameterType="Approval">
		UPDATE
		APV_DOC
		SET APDSTEP = APDSTEP + 1,
		APVDOCSTATUS = 2
		WHERE APVDOCNO = #{apvDocNo}
	</update>
	
	<select id="checkApproval" parameterType="_int" resultMap="ApprovalApvDocResultSet">
	SELECT *
	FROM
	(SELECT *
	FROM APPROVAL A
	JOIN APV_DOC D USING(APVDOCNO)
	WHERE APVDOCNO = #{apvDocNo}
	ORDER BY APVSTEP DESC)
	WHERE ROWNUM = 1
	</select>
	
	<update id="apvDocComplete" parameterType="_int">
		UPDATE APV_DOC
		SET APVDOCSTATUS = 4
		WHERE APVDOCNO = #{apcDocNo}
	</update>
	
	<update id="approvalCancel" parameterType="Approval">
		UPDATE APPROVAL
		SET APVRESULT = 0,
		APV_COMP_DATE = NULL
		WHERE APVDOCNO = #{apvDocNo}
		AND EMP_ID = #{empId}
	</update>
	
	<update id="apvDocCancel" parameterType="_int">
		UPDATE APV_DOC
		SET APDSTEP = APDSTEP - 1,
		APVDOCSTATUS = 2
		WHERE APVDOCNO = #{apvDocNo}
	</update>
	
	<update id="returnApprovalDoc" parameterType="Approval">
		UPDATE
		APV_DOC
		SET APDSTEP = APDSTEP - 1,
		APVDOCSTATUS = 3
		WHERE APVDOCNO = #{apvDocNo}
	</update>
	
	<update id="insertAtListToApvDocFromTemp" parameterType="String">
		UPDATE
		ATTACHMENT
		SET REF_ID = SEQ_APVDOC.CURRVAL
		WHERE REF_ID = #{refId}
	</update>
	
</mapper>