<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">
	<resultMap id="employeeResultSet" type="Employee">
		<id property="id" column="EMP_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>		
		<result property="birth" column="BIRTH"/>
		<result property="category" column="CATEGORY"/>
		<result property="salary" column="SALARY"/>
		<result property="acc_no" column="ACC_NO"/>
		<result property="address" column="ADDRESS"/>
		<result property="hire_date" column="HIRE_DATE"/>		
		<result property="status" column="STATUS"/>
		<result property="license" column="LICENSE"/>
		<result property="license_no" column="LICENSE_NO"/>
		<result property="license_date" column="LICENSE_DATE"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
	</resultMap>
	<resultMap type="TNA" id="TNAResultSet">
		<id property="tid" column="TID"/>
		<result property="startDate" column="START_DATE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="reason" column="REASON"/>
		<result property="empId" column="EMP_ID"/>
	</resultMap>
	
	<resultMap id="AttachmentResultSet" type="Attachment">
		<id property="atId" column="FID"/>
		<result property="originalFile" column="A_ORIGINNAME"/>
		<result property="renameFile" column="A_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="status" column="STATUS"/>
		<result property="refTable" column="REF_TABLE"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>
	
	<resultMap id="MedicalTeamResultSet" type="MedicalTeam">
		<id property="emp_id" column="EMP_ID"/>
		<result property="field" column="FIELD"/>
		<result property="grade" column="GRADE"/>
	</resultMap>
	
	

	<select id="selectOne" parameterType="Employee" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE EMP_ID=#{id}
	</select>
	
	<select id="selectAttachment" resultMap="AttachmentResultSet">
		<!-- SELECT E.EMP_ID=#{emp_id}, A_RENAME
		FROM EMPLOYEE E
		JOIN ATTACHMENT A ON E.EMP_ID = A.
		WHERE A.REF_TABLE = 'Employee' -->
		<!-- SELECT  E.EMP_ID, A.A_RENAME, a.ref_id
		FROM ATTACHMENT A
        JOIN EMPLOYEE E ON A.REF_ID = E.EMP_ID
		WHERE A.REF_TABLE = 'Employee' -->
		SELECT *
		FROM ATTACHMENT
		WHERE REF_ID = #{eid}
		AND REF_TABLE = 'Employee'
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
	</select>
	
	<select id="selectList" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		ORDER BY EMP_ID DESC
	</select>
	
	<insert id="insertemployee" parameterType="Employee">
		INSERT INTO EMPLOYEE VALUES(
		''||SEQ_EMP_NO.NEXTVAL, #{pwd}<!-- '||SEQ_EMP_NO.CURRVAL -->, #{email}, #{phone},
		#{name}, #{birth}, #{category}, #{salary}, #{acc_no},
		#{address}, #{hire_date}, #{status}, #{license}, #{license_no}, #{license_date},
		#{originalFileName}, #{renameFileName})
	</insert>
	
	<insert id="insertMediTeam" parameterType="MedicalTeam">
		INSERT INTO MEDICALTEAM VALUES(
		#{emp_id}||SEQ_EMP_NO.CURRVAL, #{field}, #{grade})
	</insert>
	
	<select id="selectOne1" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE EMP_ID=#{id}
	</select>
	
	<select id="searchList" parameterType="Search" resultMap="employeeResultSet">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT *
		FROM EMPLOYEE
		<where>
			<choose>
				<when test="searchCondition == 'name'">
					AND NAME LIKE #{sv}
				</when>
				<when test="searchCondition == 'category'">
					AND CATEGORY LIKE #{sv}
				</when>
				<when test="searchCondition == 'status'">
					AND STATUS LIKE #{sv}
				</when>
				<otherwise>
					AND (NAME LIKE #{sv}
						OR CATEGORY LIKE #{sv}
						OR STATUS LIKE #{sv})
				</otherwise>
			</choose>
		</where>
		ORDER BY EMP_ID DESC
	</select>
	
	<insert id="startWorking" parameterType="TNA">
		INSERT INTO TNA (TID, START_DATE, EMP_ID)
		VALUES(SEQ_TID.NEXTVAL, #{startDate}, #{empId})
		
		<selectKey keyProperty="tid" resultType="Integer" order="AFTER">
			SELECT SEQ_TID.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectTNA" parameterType="String" resultMap="TNAResultSet">
	<![CDATA[
		SELECT ROW_NUMBER() OVER( ORDER BY TID desc ) RNUM, TNA.*
		FROM  TNA
		WHERE EMP_ID = #{empId}
		AND ROWNUM <= 5
	]]>	
	</select>
	
	<update id="endWorking" parameterType="TNA">
		UPDATE TNA
		SET LEAVE_DATE = SYSDATE, REASON='퇴근'
		WHERE TID = #{tid}
	</update>
	
	<update id="updateEmployee" parameterType="Employee">
		UPDATE EMPLOYEE
		SET EMP_ID=#{id}, PWD=#{pwd}, EMAIL=#{email}, BIRTH=#{birth},
			CATEGORY=#{category}, SALARY=#{salary}, ACC_NO=#{acc_no},
			ADDRESS=#{address}, HIRE_DATE=#{hire_date}, STATUS=#{status},
			LICENSE=#{license}, LICENSE_NO=#{license_no}, LICENSE_DATE=#{license_date},
			ORIGINAL_FILENAME=#{originalFileName}, RENAME_FILENAME=#{renameFileName}
		WHERE EMP_ID=#{id}
	</update>
	
	<update id="deleteEmployee" parameterType="String">
		UPDATE EMPLOYEE
		SET STATUS='퇴직'
		WHERE EMP_ID=#{id}
	</update>
	
	<update id="updatePass" parameterType="Employee">
		UPDATE EMPLOYEE
		SET PWD=#{pwd}
	</update>

	<select id="selectmyInfo" parameterType="Employee" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE EMP_ID=#{id}
	</select>
	
	<insert id="insertempAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATT.NEXTVAL, #{originalFile},#{renameFile},#{filePath}, #{refTable} , ''||SEQ_EMP_NO.CURRVAL, DEFAULT)
	</insert>







</mapper>