<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		 <setting name="safeRowBoundsEnabled" value="false"/>
	</settings>

	<!-- <typeAliases>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.spring.notice.model.vo.Notice" alias="Notice"/>
		
	</typeAliases> -->
	
	<typeAliases>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Doc" alias="Doc"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.ApvDoc" alias="ApvDoc"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.ApprovalSearch" alias="ApprovalSearch"/>
		<typeAlias type="com.kh.activePlus.employee.model.vo.Employee" alias="Employee"/>
 
		<typeAlias type="com.kh.activePlus.employee.model.vo.MedicalTeam" alias="MedicalTeam"/>

		<typeAlias type="com.kh.activePlus.approval.model.vo.ApprovalApvDoc" alias="ApprovalApvDoc"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Sign" alias="Sign"/>

		

		<typeAlias type="com.kh.activePlus.employee.model.vo.TNA" alias="TNA"/>


		<typeAlias type="com.kh.activePlus.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.activePlus.common.search.Search" alias="Search"/>
		<typeAlias type="com.kh.activePlus.board.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.activePlus.board.model.vo.HosBoard" alias="HosBoard"/>
		<typeAlias type="com.kh.activePlus.common.attachment.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.activePlus.common.search.Search" alias="Search"/>
		<typeAlias type="com.kh.activePlus.mail.model.vo.EmailReceive" alias="EmailReceive"/>
		<typeAlias type="com.kh.activePlus.mail.model.vo.Email" alias="Email"/>
		<typeAlias type="com.kh.activePlus.messenger.model.vo.Emergency" alias="Emergency"/>
		<typeAlias type="com.kh.activePlus.messenger.model.vo.Messenger" alias="Messenger"/>
		
		<typeAlias type="com.kh.activePlus.item.model.vo.Item" alias="Item"/>
	</typeAliases>
	

	<mappers>
		<mapper resource="mappers/approval-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/employee-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/mail-mapper.xml"/>
		<mapper resource="mappers/item-mapper.xml"/>
		<mapper resource="mappers/messenger-mapper.xml"/>
	</mappers>


</configuration>