<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- <typeAliases>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.spring.notice.model.vo.Notice" alias="Notice"/>
		
	</typeAliases> -->
	<typeAliases>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Doc" alias="Doc"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.ApvDoc" alias="ApvDoc"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.ApprovalSearch" alias="ApprovalSearch"/>
		<typeAlias type="com.kh.activePlus.Employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.kh.activePlus.approval.model.vo.Attachment" alias="Attachment"/>

		<typeAlias type="com.kh.activePlus.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.activePlus.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.activePlus.member.model.vo.Search" alias="Search"/>

	</typeAliases>

		<mappers>
			<mapper resource="mappers/approval-mapper.xml"/>
			<mapper resource="mappers/schedule-mapper.xml"/>
			<mapper resource="mappers/member-mapper.xml"/>
		</mappers>
	<!-- <mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers> -->


</configuration>