@charset "UTF-8";
@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
/* 버튼 */
#buttonDiv{
	width:90%;
	height:35px;
}
.btn{
	width:50px;
	height:30px;
	font-size:12px;
	float:right;
	margin-right:5px;
	border:1px solid #113f36;
	border-radius:5px;
	background: white;
}
.long{
	width:70px;
	height:30px;
	font-size:12px;
	float:right;
	margin-right:5px;
	border:1px solid #113f36;
	border-radius:5px;
	background: white;
	color:#113f36;
	cursor:pointer;
}
.red{
	color:red;
	border-color:red;
	
}
.btn:hover, .long:hover{
	background:#113f36;
	color:#ffffff;
	cursor:pointer;
}
.red:hover{
	background:red;
	color:white;
	cursor:pointer;
} 



/*테이블*/
table{
	border-collapse: collapse;
  	border-spacing: 0 15px;
  	table-layout:fixed;
  	float:left;
}
th, td {
	padding:12px;
	border-bottom:1px solid #e5e1de
}
th {
	color:#8d8d8d;
	font-weight:300;
}
td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	color:#113f36;
	font-size:15px; 
	font-family: "S-CoreDream-3Light", serif;	
} 


/* 메일 쓰기 버튼 */
.mailSend {
  float:left; 
  margin-left:15px;
  width:7%; height:70px;
  position:fixed;
  background:#afd3b3;
  font-size:22px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  outline: none;
  position: fixed;
  text-transform: uppercase;
}
.mailSend:before,
.mailSend:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.mailSend:before {
  border-color: #63ab68;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.mailSend:after {
  border-bottom-width: 2px;
  border-color: #63ab68;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.mailSend:hover,
.mailSend.hover {
  background-color: #63ab68;
}
.mailSend:hover:before,
.mailSend.hover:before,
.mailSend:hover:after,
.mailSend.hover:after {
  height: 100%;
  width: 100%;
}

td a {
	color:#2f2f2f;
	text-decoration:none;
}
td a:hover {
	text-decoration:underline;
}
